@model Exercicio02ScaffoldLayouts.Models.Produto

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Descricao)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Descricao)
    @Html.ValidationMessageFor(model => model.Descricao)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Valor)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Valor)
    @Html.ValidationMessageFor(model => model.Valor)
</div>

<div class="editor-label">
    ProdutoGrupo
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ProdutoGrupoId, ((IEnumerable<Exercicio02ScaffoldLayouts.Models.ProdutoGrupo>)ViewBag.PossibleProdutoGrupoes).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.ProdutoGrupoId.ToString(),
        Selected = (Model != null) && (option.ProdutoGrupoId == Model.ProdutoGrupoId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ProdutoGrupoId)
</div>
