@model IEnumerable<Exercicio02ScaffoldLayouts.Models.Produto>

@{
    ViewBag.Title = "Index_foundation";
}

<h2>Index_foundation</h2>

<p>
    @Html.ActionLink("Novo", "Criar")
</p>
<table>	
	<thead>
		<tr>
			<th></th>
			<th>
				Descricao
			</th>
			<th>
				Valor
			</th>
			<th>
				ProdutoGrupo
			</th>
		</tr>
	</thead>
	<tbody>
	
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.ActionLink("Editar", "Editar", new { id=item.ProdutoId }) |
					@Html.ActionLink("Detalhes", "Detalhes", new { id=item.ProdutoId }) |
					@Html.ActionLink("Excluir", "Excluir", new { id=item.ProdutoId })
				</td>
				<td>
					@item.Descricao
				</td>
				<td>
					@String.Format("{0:F}", item.Valor)
				</td>
				<td>
					@Html.DisplayTextFor(_ => item.ProdutoGrupo).ToString()
				</td>
			</tr>
}
	</tbody>
</table>


