@model IEnumerable<Exercicio06Dapper.Models.Dados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("PesquisaPaisAno", "Dados"))
{
    <div class="row form-group">
        <div class="col-md-4">
            <label>Pais</label>
            <input type="text" id="pais" name="pais" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label>Primeiro ano</label>
            <input type="text" id="primeiroAno" name="primeiroAno" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label>Segundo ano</label>
            <input type="text" id="segundoAno" name="segundoAno" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="btn-group">            
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
}

<table class="table table-hover table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoIndicador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoIndicador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>            
        </tr>
    }

</table>
