@model IEnumerable<Exercicio06Dapper.Models.PesquisaEstatistica>

@{
    ViewBag.Title = "PesquisaEstatistica";
}

<h2>PesquisaEstatistica</h2>

@using (Html.BeginForm("PesquisaEstatistica", "Dados"))
{
    <div class="row form-group">
        <div class="col-md-4">
            <label>Pais</label>
            <input type="text" id="pais" name="pais" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Primeiro ano</label>
            <input type="text" id="primeiroAno" name="primeiroAno" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Segundo ano</label>
            <input type="text" id="segundoAno" name="segundoAno" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="btn-group">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Indicador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesvioPadrao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Indicador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesvioPadrao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Media)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
