@model GaveteiroLanches.Entidades.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Pessoa</legend>

    <div class="display-label">DataHoraCad</div>
    <div class="display-field">@String.Format("{0:g}", Model.DataHoraCad)</div>

    <div class="display-label">UsuarioCad</div>
    <div class="display-field">@Model.UsuarioCad</div>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PessoaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


