@model IEnumerable<GaveteiroLanches.Entidades.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            DataHoraCad
        </th>
        <th>
            UsuarioCad
        </th>
        <th>
            Nome
        </th>
        <th>
            Email
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PessoaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PessoaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PessoaId })
        </td>
        <td>
			@String.Format("{0:g}", item.DataHoraCad)
        </td>
        <td>
			@item.UsuarioCad
        </td>
        <td>
			@item.Nome
        </td>
        <td>
			@item.Email
        </td>
    </tr>
}

</table>


