@model CodingCraft.Domain.ViewModels.Combo.ComboProdutoViewModel
@using (Html.BeginCollectionItem("Produtos"))
{
    <div class="row form-group item">
        @Html.HiddenFor(model => model.ComboProdutoId)
        @Html.HiddenFor(model => model.ComboId)

        <div class="col-md-4">
            @Html.DropDownListFor(x => x.ProdutoId, Html.Produtos(), new { @class = "form-control listaProdutos" })
            @Html.ValidationMessageFor(model => model.ProdutoId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control quantidade", @autofocus = "" } })
        </div>
        <div class="col-md-2">            
            @Html.EditorFor(model => model.ValorUnitario, new { htmlAttributes = new { @class = "form-control valorUnitario", @autofocus = "", @readonly = "readonly" } })
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control valorTotal" value="@Model.ValorTotal" readonly="readonly" />
        </div>
        <div class="col-md-2">
            <a class="btn red" onclick="$(this).parent().parent().remove();">Excluir</a>
        </div>
    </div>
}
