@model CodingCraft.Domain.ViewModels.Combo.ComboViewModel

@{
    if (Model.ComboId > 0)
    {
        ViewBag.Title = "Combo - #" + Model.ComboId;
    }
    else
    {
        ViewBag.Title = "Combo";
    }
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(actionName: "Salvar", controllerName: "Combo"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    @Html.Partial("_Combo")

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> Voltar</a>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Salvar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/typeahead.css" rel="stylesheet" />
    <link href="~/Content/typeahead.fixe.css" rel="stylesheet" />

    <style type="text/css">
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/typeahead")

    <script type="text/javascript" src="~/Scripts/typeahead.mvc.model.js"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="~/Scripts/produto/produto.extend.js"></script>

    <script type="text/javascript">
        function pesquisarProduto() {
            $("#area-produtos .listaProdutos").on('blur', function () {
                var produtoId = $(this).val();

                var $that = $(this);

                $.get('@Url.Action("PesquisarPorId","Produto")?produtoId=' + produtoId, function (produto) {

                    var valorUnitario = 0;

                    if (produto != null) {
                        valorUnitario = produto.Valor;
                        
                        $that.parent().parent().find(".valorUnitario").val(valorUnitario.toString().replace(".", ","));

                        $that.parent().parent().find(".quantidade").val(1);

                        var valorTotal = valorUnitario;

                        $that.parent().parent().find(".valorTotal").val(valorTotal.toString().replace(".", ","));
                    }
                });
            });
        }

        function CalcularValores() {
            $("#area-produtos div input").on('blur', function () {
                var valorUnitario = parseFloat($(this).parent().parent().find(".valorUnitario").val().toString().replace(",", "."));
                var quantidade = parseFloat($(this).parent().parent().find(".quantidade").val().toString().replace(",", "."));

                var valorTotal = valorUnitario * quantidade;

                $(this).parent().parent().find(".valorTotal").val(valorTotal.toString().replace(".", ","));
            });
        }

        $("#adicionar-novo-produto").click(function () {
            $.get('@Url.Action("ComboProdutoLinha")', function (template) {
                $("#area-produtos").append(template);
                CalcularValores();
                pesquisarProduto();
            });
        });



        $(document).ready(function () {
            CalcularValores();
            pesquisarProduto();
        });



    </script>
}
