@model GaveteiroLanches.Web.ViewModels.MovimentacaoSaida.MovimentacaoSaidaViewModel

@{
    if (Model.MovimentacaoId > 0)
    {
        ViewBag.Title = "Saida - #" + Model.MovimentacaoId;
    }
    else
    {
        ViewBag.Title = "Saida";
    }
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(actionName: "Salvar", controllerName: "MovimentacaoSaida"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    @Html.Partial("_MovimentacaoSaida")

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> Voltar</a>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Salvar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/typeahead.css" rel="stylesheet" />
    <link href="~/Content/typeahead.fixe.css" rel="stylesheet" />
}

@section Scripts {

    @Scripts.Render("~/bundles/typeahead")
    <script type="text/javascript" src="~/Scripts/typeahead.mvc.model.js"></script>

    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        $("#adicionar-novo-produto").click(function () {
            $.get('@Url.Action("MovimentacaoProdutoLinha")', function (template) {
                $("#area-produtos").append(template);
            });
        });

        $("#area-produtos div").on('change', function () {
            if ($(this).find(".valorUnitario").val() != undefined &&
                $(this).find(".quantidade").val() != undefined) {
                var valorUnitario = parseFloat($(this).find(".valorUnitario").val().replace(",", "."));
                var quantidade = parseFloat($(this).find(".quantidade").val().replace(",", "."));

                var valorTotal = valorUnitario * quantidade;

                $(this).find(".valorTotal").val(valorTotal.toString().replace(".", ","));
            }
        })


        $("#adicionar-novo-combo").click(function () {
            $.get('@Url.Action("MovimentacaoComboLinha")', function (template) {
                $("#area-combos").append(template);
            });
        });

        $("#area-combos div").on('change', function () {
            if ($(this).find(".valorUnitario").val() != undefined &&
                $(this).find(".quantidade").val() != undefined) {
                var valorUnitario = parseFloat($(this).find(".valorUnitario").val().replace(",", "."));
                var quantidade = parseFloat($(this).find(".quantidade").val().replace(",", "."));

                var valorTotal = valorUnitario * quantidade;

                $(this).find(".valorTotal").val(valorTotal.toString().replace(".", ","));
            }
        })
    </script>
}
