@model Exercicio10Cep.Models.Bairro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bairro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAbreviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAbreviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFonetizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFonetizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BairroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
