@using Exercicio10Cep.ViewModels;
@model CidadeViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Pesquisa - @ViewBag.Title
    </div>
    <div class="panel-body">
        
		@Html.Partial("_ParametrosPesquisa", Model)

        <div class="row">
            <div class="col-lg-12">
                <div id="pesquisa">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
									<th>
										UltimaModificacao
									</th>
									<th>
										DataCriacao
									</th>
									<th>
										Nome
									</th>
									<th>
										Cep
									</th>
									<th>
										Estado
									</th>
									<th>
										Bairros
									</th>
                                
                            </tr>
                        </thead>

                        <tbody>
							@foreach (var item in Model.Resultados) {
								<tr>
								<td>
									@Html.ActionLink("Editar", "Editar", new { id=item.CidadeId }) |
									@Html.ActionLink("Detalhes", "Detalhes", new { id=item.CidadeId }) |
									@Html.ActionLink("Excluir", "Excluir", new { id=item.CidadeId })
								</td>
								<td>
									@String.Format("{0:g}", item.UltimaModificacao)
								</td>
								<td>
									@String.Format("{0:g}", item.DataCriacao)
								</td>
								<td>
									@item.Nome
								</td>
								<td>
									@item.Cep
								</td>
								<td>
									@(item.Estado == null ? "None" : item.Estado.Nome)
								</td>
								<td>
									@(item.Bairros == null ? "None" : item.Bairros.Count.ToString())
								</td>
							</tr>
						}                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.PagedListPager(Model.Resultados, page => Url.Action("Pesquisa",
    new CidadeViewModel()
    {
        Pagina = page,
        //Parametros de pesquisa
    }),
    PagedListRenderOptionsCustom.Custom)


