@using Microsoft.AspNet.Identity
@model IEnumerable<CodingCraft.Common.ViewModels.MovimentacaoSaida.MovimentacaoSaidaIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <th>Usuário</th>
        }
        <th>
            @Html.DisplayNameFor(model => model.MovimentacaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.MovimentacaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovimentacaoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovimentacaoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovimentacaoId }) |
                @if (!item.DataFinalizacao.HasValue)
                {
                    @Html.ActionLink("Finalizar", "Finalizar", new { id = item.MovimentacaoId })
                }
            </td>
        </tr>
    }

</table>
