@using Exercicio10Cep.ViewModels;
@model PaisViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Pesquisa - @ViewBag.Title
    </div>
    <div class="panel-body">
        
		@Html.Partial("_ParametrosPesquisa", Model)

        <div class="row">
            <div class="col-lg-12">
                <div id="pesquisa">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
									<th>
										UltimaModificacao
									</th>
									<th>
										DataCriacao
									</th>
									<th>
										Nome
									</th>
									<th>
										Sigla
									</th>
									<th>
										Estados
									</th>
                                
                            </tr>
                        </thead>

                        <tbody>
							@foreach (var item in Model.Resultados) {
								<tr>
								<td>
									@Html.ActionLink("Edit", "Edit", new { id=item.PaisId }) |
									@Html.ActionLink("Details", "Details", new { id=item.PaisId }) |
									@Html.ActionLink("Delete", "Delete", new { id=item.PaisId })
								</td>
								<td>
									@String.Format("{0:g}", item.UltimaModificacao)
								</td>
								<td>
									@String.Format("{0:g}", item.DataCriacao)
								</td>
								<td>
									@item.Nome
								</td>
								<td>
									@item.Sigla
								</td>
								<td>
									@(item.Estados == null ? "None" : item.Estados.Count.ToString())
								</td>
							</tr>
						}                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.PagedListPager(Model.Resultados, page => Url.Action("Pesquisa",
    new PaisViewModel()
    {
        Pagina = page,
        //Parametros de pesquisa
    }),
    PagedListRenderOptionsCustom.Custom)


