@using Exercicio10Cep.ViewModels;
@model PaisViewModel
@{
    ViewBag.Title = "Pais";
}

<h2>Listagem de Pais</h2>

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>

<div id="pesquisa">
    @Html.Partial("_Pesquisa", Model)
</div>

<a class="btn btn-default" id="editar" title="Editar" href="@Url.Action("Editar", new { id=item.<#= Model.PrimaryKeyName #>})"><i class="glyphicon glyphicon-edit glyphicon-align-left"></i></a>
<a class="btn btn-default" id="detalhes" title="Detalhes" href="@Url.Action("Detalhes", new {id=item.<#= Model.PrimaryKeyName #>})"><i class="glyphicon glyphicon-eye-open glyphicon-align-right"></i></a>
<a class="btn btn-default" id="Deletar" title="Excluir" href="@Url.Action("Excluir", new { id=item.<#= Model.PrimaryKeyName #> })"><i class="glyphicon glyphicon-trash glyphicon-align-right"></i></a>