@model Exercicio01EF.ViewModels.MovimentacaoEntrada.MovimentacaoProdutoViewModel
@using (Html.BeginCollectionItem("Produtos"))
{
    <div class="row form-group">
        @Html.HiddenFor(model => model.MovimentacaoProdutoId)
        @Html.HiddenFor(model => model.MovimentacaoId)

        <div class="col-md-4">
            @Html.DropDownListFor(x => x.ProdutoId, Html.Produtos(), new { @class = "form-control listaProdutos" })
            @Html.ValidationMessageFor(model => model.ProdutoId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control quantidade", @autofocus = "" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.ValorUnitario, new { htmlAttributes = new { @class = "form-control valorUnitario", @autofocus = "" } })
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control valorTotal" value="@Model.ValorTotal" readonly="readonly"/>
        </div>
        <div class="col-md-2">
            <a class="btn red" onclick="$(this).parent().parent().remove();">Excluir</a>
        </div>
    </div>
}
