<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Welcome to Foundation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    <link href="~/Content/foundation/foundation.css" rel="stylesheet" />

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="row">
        <div class="large-12 columns">
            @Html.Partial("_SelectLayout")
            @RenderBody()
        </div>
    </div>


    <script src="~/Scripts/jquery-2.2.4.js"></script>

    <script src="~/Scripts/foundation/foundation.js"></script>   
    
    <script type="text/javascript">
        $(document).foundation();

        $(document).ready(function () {
            $('.trocar').click(function () {
                var url = '@Url.Action("DefinirLayout", "Layout")';
                var layout = $(this).val();

                $.post(url, { layout: layout }, function (data) {
                    location.reload();
                });
            });
        });
    </script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>